/*CUSTOMS*/
:root{
    --dark-clr: #181818;
    --light-clr: #dee1de;
    --wayne-acc: #56616d;
    --august-acc:#616763;
    --jamie-acc: #c3afb7;
    --belle-acc: #afc8c8;
}

/*BODY*/
a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
}

body{
    background-color: var(--dark-clr);
}
h1{
    text-align: center;
    font-size: 6rem;
    border-bottom: 3px solid;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 2rem ;
}

h2{
    font-size: 2rem;
    margin-top: 1rem;
    text-transform: uppercase;
}
p{
    font-family: "IBM Plex Serif", serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem;
}


/*NAVBAR*/
.navbar{
    background-color: var(--dark-clr);
    display: flex;
    font-family: "STIX Two Text", serif;
    font-weight: 600;
    font-size: 2.5rem;
    justify-content: space-between;
    align-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar a{
    color: var(--light-clr);
    padding:1rem;
    margin: 0;
}
.home-btn{
    filter: grayscale(100%) brightness(180%);
}


/*BODY*/

main{
    text-align: left;
    }
    
.character-pf{
    background-color: var(--august-acc);
    color: var(--light-clr);
    padding: 2rem;
    background-image: url(/imgs/textures/file.jpg);
    background-blend-mode: multiply;
}
.character-pf p{
     max-width: 380px;
     min-width: 320px;
}

.august-info{
    display: flex;
    justify-content:space-evenly;
    padding: 3rem;
    margin-top: 3rem;
}

.info-flex{
    display: flex;
    align-items: baseline;
}
.info-flex p{
    padding: 0;
    margin: 1rem;
    text-align: left;
}

.gal-btn a{
    color: var(--dark-clr);
    background-color: var(--light-clr);
    padding: 1rem 2rem;
    border-radius: 4px;
}
.gal-btn{
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
}

.mug-img{
    padding: 2rem;
}

.actual-ul{
    list-style: disc;
    display: block;
    font-size: 2rem;
    margin: 2rem;
}

.character-lineup{
    color: var(--light-clr);
    background-color: #353a37;
    background-image: url(/imgs/textures/file.jpg);
    background-blend-mode: multiply;
    align-items: center;
}

.character-lineup h2{
    text-align: center;
    font-size: 3rem;
    border-bottom: 3px solid;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 2rem ;
}
.polaroids img{
    max-width: 80%;
    padding-top: 3rem;
}
.polaroids{
    display: flex;
    justify-content: center;
    text-align: center;
}

/*FOOTER*/

footer{
    background-color: var(--dark-clr);
    color: var(--light-clr);
    text-align: center;
    padding: 4rem;
}
footer ul{
    margin: 0 auto;
    justify-content: center;
    padding-top: 5rem;
    align-items: center;
}
footer img{
    max-width: 30%;
}
footer a{
    margin: 4rem;
}

.title{
    font-family: "STIX Two Text", serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.tune-in{
    font-family: "IBM Plex Serif", serif;
    margin: 0;
    padding-bottom: 3rem;
}


/*ANIMATIONS/snazzy stuff*/

a{
    transition: 0.2s;
}
.home-btn:hover, .home-btn:focus{
filter: none;
}
.gal-btn a:hover, .gal-btn a:focus{
    background-color: var(--august-acc);
    color: var(--light-clr);
}


/*SCREEN ADJUSTMENTS (very much under work, i am mildly sobbing)*/
@media(max-width: 870px) {

    /*BODY*/
            h1{
                font-size: 4rem;
            }
            h2{
                font-size: 1.9rem;
            }
    
    /*NAVBAR*/
        .navbar a{
            font-size: 2rem;
        }
       
        .navbar img {
            width: 40px;
        }
    
    /*FOOTER*/
    footer ul{
        margin: 0 auto;
        justify-content: center;
        padding-top: 2rem;
        align-items: center;
    }
    
    footer a{
        margin: 2rem;
        width: 80px;
    }
    
    }
    
    @media(max-width: 740px){
    
        /*BODY*/
        h1{
            top: 15%;
        }
        p{
            font-size: 1.2rem;
        }
   
    }
    
    @media(max-width: 540px){
      
    }
    
    
    /*FONTS
    
        font-family: "Graduate", serif;
        font-family: "IBM Plex Serif", serif;
        font-family: "Kreon", serif;
        font-family: "STIX Two Text", serif;
        */