/*CUSTOMS*/
:root{
    --dark-clr: #181818;
    --light-clr: #dee1de;
    --wayne-acc: #56616d;
    --august-acc:#616763;
    --jamie-acc: #c3afb7;
    --belle-acc: #afc8c8;
}

/*BODY*/
a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
}

body{
    background-color: var(--dark-clr);
}

p{
    font-family: "IBM Plex Serif", serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem;
}

/*NAVBAR*/
.navbar{
    background-color: var(--dark-clr);
    display: flex;
    font-family: "STIX Two Text", serif;
    font-weight: 600;
    font-size: 2.5rem;
    justify-content: space-between;
    align-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar a{
    color: var(--light-clr);
    padding:1rem;
    margin: 0;
}

.home-btn{
    filter: grayscale(100%) brightness(200%);
}


main{
    background-color: var(--wayne-acc);
    }
    
    main img{
    display: block;
    margin: 0 auto;
    padding-top: 4rem;
    }
    
    main p{
        text-align: center;
        padding-bottom: 12rem;
    }




/*FOOTER*/
footer{
    background-color: var(--dark-clr);
    color: var(--light-clr);
    text-align: center;
    padding: 4rem;
}
footer ul{
    margin: 0 auto;
    justify-content: center;
    padding-top: 5rem;
    align-items: center;
}
footer img{
    max-width: 30%;
}
footer a{
    margin: 4rem;
}

.title{
    font-family: "STIX Two Text", serif;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.tune-in{
    font-family: "IBM Plex Serif", serif;
    margin: 0;
    padding-bottom: 3rem;
}

/*ANIMATIONS/snazzy stuff*/

a{
    transition: 0.2s;
}

.home-btn:hover, .home-btn:focus{
    filter: none;
    }